/*  =================================================
    Custom fonts
    =================================================   */

    @font-face {
        font-family: manrope-medium;
        src: url(../assets/fonts/Manrope-Medium.woff2);
    }

    @font-face {
        font-family: manrope-bold;
        src: url(../assets/fonts/Manrope-Bold.woff2);
    }

/*  =================================================
    CSS Reset
    =================================================   */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 10 pixels = 1rem */
html {
  font-size: 62.5%;
}

/*  =================================================
    Custom Properties (Variables)
    =================================================   */

:root {
  --white: hsl(0, 100%, 100%);

  --grey-200: hsl(210, 46%, 95%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-900: hsl(217, 19%, 35%);

  --spacing-0: 0rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;
  --spacing-1300: 10.4rem;
  --spacing-2000: 16rem;
}

/*  =================================================
    Utility Classes
    =================================================   */

.text--p1-bold {
  font-family: manrope-bold, sans-serif;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.25px;
}

.text--p2-medium {
  font-family: manrope-medium, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.12px;
}