/*  =================================================
    Custom fonts
    =================================================   */

    @font-face {
        font-family: manrope-medium;
        src: url(../assets/fonts/Manrope-Medium.woff2);
    }

    @font-face {
        font-family: manrope-bold;
        src: url(../assets/fonts/Manrope-Bold.woff2);
    }

/*  =================================================
    CSS Reset
    =================================================   */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 10 pixels = 1rem */
html {
  font-size: 62.5%;
}

/*  =================================================
    Custom Properties (Variables)
    =================================================   */

:root {
  --white: hsl(0, 100%, 100%);

  --grey-200: hsl(210, 46%, 95%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-900: hsl(217, 19%, 35%);

  --spacing-0: 0rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;
  --spacing-1300: 10.4rem;
  --spacing-2000: 16rem;
}

/*  =================================================
    Utility Classes
    =================================================   */

.text--p1-bold {
  font-family: manrope-bold, sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.25px;
}

.text--p2-medium {
  font-family: manrope-medium, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.12px;
}

.text--p2-bold {
  font-family: manrope-bold, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.12px;
}

.text--p3 {
  font-family: manrope-medium, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 25%;
}

/*  =================================================
    Base Styles
    =================================================   */

body {
  background-color: var(--grey-200);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);

  position: relative;
  overflow: hidden;

  width: 87%;
  max-width: 40rem;
  min-height: 53.8rem;
  margin: 0 auto;
  padding: var(--spacing-0);
  padding-bottom: 2rem;
  background-color: var(--white);

  border-radius: 1rem;
  box-shadow: 0 4rem 2rem -1rem #C9D5E1;
}

.article__container {
  overflow: hidden;
  height: 20rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.article__container-image{
  object-fit: cover;
  object-position: 50% 25%;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);

  width: 82%;
  max-width: 36.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.main__heading {
  color: var(--grey-900);
}

.main__text {
  color: var(--grey-500);
}

.footer {
  display: flex;
  max-height: 4rem;
  position: relative;
}

.data {
  display: flex;
  gap: var(--spacing-200);
}

.data__image {
  border-radius: 49%;
}

.info__name {
  color: var(--grey-900);
  
}

.info__date {
  color: var(--grey-400);
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  
  min-width: 3.2rem;
  min-height: 3.2rem;
  border: none;
  cursor: pointer;
  border-radius: 49%;
}

.btn.active {
  background-color: var(--grey-500);
}

.btn.active .btn__icon {
  filter: brightness(0) invert(1);
}

.share-nav {
  display: flex;
  align-items: center;
  
  position: absolute;
  
  min-height: 7.6rem;

  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--grey-900);

  transform: translateY(100%);
  transition: transform 0.3s ease;

  padding: 0 var(--spacing-400);
}

.share-nav.active {
  transform: translateY(0);
}

.share-container {
  display: flex;
  gap: var(--spacing-300);
}

.share-container__text {
  text-transform: uppercase;
  color: var(--grey-400);
}

.share-links {
  display: flex;
  gap: var(--spacing-200);
}

/*  =================================================
    Tablet Media Query
    =================================================   */

@media (min-width: 768px) {
  .article {
    flex-direction: row;
    max-width: 73rem;
    min-height: 34.6rem;
    padding: 0;
  }

  .article__container {
    height: 34.6rem;
    width: 34%;

    border-radius: 1rem 0 0 1rem;
  }

  .article__container-image {
    object-position: 20%;
  }

  .content {
    gap: var(--spacing-300);
  }

  .footer {
    gap: var(--spacing-1300);
  }

}